body > header {
    background-image: linear-gradient(to right, #0a5877, #022b3b);
    /* background-image: radial-gradient(circle, #0a5877, #022b3b); */
    color: #ffffff;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

body > header > nav > ul{
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body > header > nav > ul > li{
    margin: 30px;
}

body > header > nav > ul > li > a {
    margin-right: 8px;
    color: #022b3b;
}

.nav-bar {
    background-color: #ffffff;
    /* width: 40px;
    height: 20px; */
    padding: 20px;
    display: block;
    border-radius: 10px;
}