h1 {
    margin: 50px;
    font-weight: 800;
    font-size: 32pt;
}

h2 {
    font-weight: 600;
    font-size: 24pt;
}

h3 {
    font-weight: 400;
    font-size: 16pt;
}

p {
    font-weight: 400;
    font-size: 12pt;
}