body {
    font-family: "Montserrat", sans-serif;
    /* margin: auto; */
    text-align: center;
    background-color: #f3dbf2;
    margin: 0;
}

.block-colour {
    background-color: #000000;
    height: 20px;
}

/* welcome page */

.welcome-block {
    width: 60vw;
    /* height: 33vw; */
    justify-content: center;
    margin: auto;
}

body > main > section > ul{
    list-style: none;
    font-weight: 600;
    margin: 20px;
}

body > main > section > ul > li {
    margin: 20px;
}

.img-block {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
}

.circular-square {
    border-radius: 50%;
    margin: 40px;
}

/* results page */

.play-again {
    background-color: #03bdca;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin: 40px;
}