<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/game.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

    <title> {{ title }} Rock Paper Scissors Game</title>
</head>
<body>
    <header>
        <img src="" alt="Rock Paper Scissors Logo">
        <nav>
            <ul>
                <li><a class="nav-bar" href="/">Home</a></li>
                <li><a class="nav-bar" href="/game">Game</a></li>
            </ul>
        </nav>
    </header>

    {% block welcome %}{% endblock welcome %}

    {% block game %}{% endblock game %}

    {% block results %}{% endblock results %}

    <footer>
        created by Clementine Studios.
    </footer>
</body>
</html>