{% extends "base.html" %}

{% block game %}

   <hgroup> 
       <h1>GAME TIME!!</h1>
       <p>Rock beats scissors, scissors beats paper, paper beats rock</p>
    </hgroup>

    <main class="form-block">
    
        <section class="player-1-block">
            <hgroup>
                <h2>Player One</h2>
            </hgroup>

            <form action="/result" method="POST">
                <label for="player1_name">Name</label>
                <input type="text" name="player1_name" id="player1_name" required>
                <br>
                <br>
                <label for="player1_choice">take your pick</label>
                <select name="player1_choice" id="player1_choice" required>
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
                </select>
        </section>
        <section class="player-2-block">
            <hgroup>
                <h2>Player Two</h2>
            </hgroup>

                <label for="player2_name">Name</label>
                <input type="text" name="player2_name" id="player2_name" required>
                <br>
                <br>
                <label for="player2_choice">take your pick</label>
                <select name="player2_choice" id="player2_choice" required>
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
                </select>
        </section>

            <div class="play-button-block">
                <input class="play-button" type="submit" id="submit" value="PLAY!!">
            </div>

            </form>
    
    </main>  
     

    

{% endblock %}