{% extends "base.html" %}

{% block welcome %}

    <main class="welcome-block">
        <h1>THE RULES OF ROCK PAPER SCISSORS</h1>
       <section>
            <p>Although the game has a lot of complexity to it, the rules to play it are pretty simple.
            The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. 
            <br>
            <br>
            <br>
            The outcome of the game is determined by 3 simple rules:
            </p>

            <ul>
                <li>• Rock wins against scissors.</li>
                <li>• Scissors win against paper.</li>
                <li>• Paper wins against rock.</li>
            </ul>
        </section>
        <section class="img-block">
            <img class="circular-square" src="https://placebear.com/g/150/150" alt="rock">
            <img class="circular-square" src="https://placebear.com/g/150/150" alt="paper">
            <img class="circular-square" src="https://placebear.com/g/150/150" alt="scissors">
        </section>
    </main>    

{% endblock %}